body {
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 5%;
    align-content:center;
}
.container {
    background-color: white;
    color: black;
    border: 1px solid black;
    padding-left: 1px;
    padding-right:1px;
    border-collapse: collapse;
}
div{
    background-color:aliceblue;
    border-bottom-style:groove;
    padding-left:10px;
   
       
    
}
h4{
    border-bottom-style:groove;
}